body{margin:0; padding:0; font-family:Arial, Trebuchet MS, Verdana, Helvetica, sans-serif; font-size:12px;}
#Wrap{width:1000px; margin:auto;} #logoimg{margin:15px 0 0 15px; float:left;}
#loginimg{margin:90px auto; float:left;} #loginimgmain{float:left; margin-left:223px; _margin-left:110px;}

.loginButtonSmall{background:url(../images/button-bg.jpg) repeat-x; border:#B20F00 solid 1px; width:53px; height:21px; font-size:11px; color:#FFF; font-weight:bold; cursor:pointer; float:right; margin:30px 6px 0 0;} .loginButtonSmall:hover{background:url(../images/button-bg.jpg) bottom; color:#FFF; border:#000 solid 1px;}
.forgotpass{font-size:11px; color:#333333; float:left; margin:34px 0 0 81px;} .forgotpass:hover{text-decoration:underline; color:#E22E21;}
.loginboxmain{width:1000px; float:left; margin-top:25px; *margin-top:115px;} .loginbox{width:555px; margin:auto;} .loginbox span{float:left; margin:3px 5px 0 0; font-size:13px; color:#E22E21; font-weight:bold;}
.TextBoxInput{background:#FFFFFF; border:#A7A7A7 1px solid; float:left; height:18px; padding-top:1px; margin:0px; outline:none;}
.TextBoxInput:hover, .TextBoxInput:focus, .TextBoxInput:active{outline:none;}

#footermain{width:100%; background:url(../images/footer-bg.jpg) repeat-x; height:28px; float:left; padding:16px 0 0 0;} #footermain div{width:1000px; margin:auto; color:#CCCCCC;} #footermain div a{color:#7D7D7D;} #footerinner{float:right; color:#7D7D7D;} #footerinner a{color:#006699 !important;}

p{margin:0; padding:0;}
ul{list-style:none; margin:0; padding:0;}
a:link, a:visited, a:active{color:#333333; text-decoration:none;}
a:hover{color:#000; text-decoration:underline;}